<launch>
  <!-- (start your robot's MoveIt! stack, e.g. include its moveit_planning_execution.launch) -->
  <!-- (start your tracking system's ROS driver) -->

  <node pkg="aruco_ros" type="single" name="aruco_single">
      <remap from="/camera_info" to="/camera/color/camera_info" />
      <remap from="/image" to="/camera/color/image_rect_color" />
      <param name="image_is_rectified" value="True"/>
      <param name="marker_size"        value="0.077"/>
      <param name="marker_id"          value="573"/>
      <param name="reference_frame"    value="j2s7s300_link_base"/>   <!-- frame in which the marker pose will be refered -->
      <param name="camera_frame"       value="camera_color_optical_frame"/>
      <param name="marker_frame"       value="aruco_marker_frame" />
      <param name="corner_refinement"  value="LINES" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <arg name="eye_on_hand" value="true"/>
    <arg name="namespace_prefix" value="kinect_easy_handeye"/>
    <arg name="move_group" value="arm"/>

    <!-- fill in the following parameters according to your robot's published tf frames -->
    <arg name="robot_base_frame" value="j2s7s300_link_base"/>
    <arg name="robot_effector_frame" value="j2s7s300_end_effector"/>

    <!-- fill in the following parameters according to your tracking system's published tf frames -->
    <arg name="tracking_base_frame" value="camera_color_optical_frame"/>
    <arg name="tracking_marker_frame" value="aruco_marker_frame"/>
    
    <arg name="freehand_robot_movement" value="false" />
    <arg name="robot_velocity_scaling" value="0.5" />
    <arg name="robot_acceleration_scaling" value="0.2" />
 
  </include>
</launch>
