<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mrobot0_with_j2s7s300">

    <!-- include kinova arm -->
    <xacro:include filename="$(find kinova_description)/urdf/j2s7s300.xacro"/>
    <!-- include d435 camera -->
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>
    <!-- include mrobot0 -->
    <xacro:include filename="$(find mrobot0)/urdf/mrobot0.urdf"/>
    <!-- add camera -->
    <xacro:realsense_d435 sensor_name="camera" parent_link="j2s7s300_link_7" rate="30.0">
        <origin rpy="0 1.5707 0" xyz="0.06 0 -0.12"/>
    </xacro:realsense_d435>
    <link name="root"/>
    <joint name="connect_root_and_world" type="fixed">
        <child link="root" />
        <parent link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />    
    </joint> 
    <xacro:j2s7s300  base_parent="base_link"/>
</robot>
